{% extends 'base.html' %}
{% block body %}
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Information</title>
    {% load static %}
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{%static 'js/bootstrap.min.js'  %}"></script>

</head>
<body>
<form method="POST" action="/update/{{ student.id }}">
    {% csrf_token %}
    <label for="fname" class="form-label">Firstname</label>
    <input type="text" class="form-control" id="fname" name="firstname" value="{{ student.firstname }}">


      <label for="lname" class="form-label">Lastname</label>
    <input type="text" class="form-control" id="lname" name="lastname" value="{{ student.lastname }}">


      <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" value="{{ student.email }}">

    <button type="submit" class="btn btn-primary">Update</button>

</form>
</body>
</html>
    {% endblock %}
